function Main.main 24
    push constant 123
    pop local 0
    push constant 32
    push constant 16
    call Math.multiply 2
    push constant 15
    call Math.multiply 2
    push constant 31
    add
    pop local 3
    push local 3
    pop local 4
    push local 9
    push local 4
    add
    push constant 0
    push constant 0
    call FreeNode.new 3
    pop local 5
    push local 4
    push constant 1
    sub
    pop local 4
label Main_0
    push local 4
    push constant 0
    gt
    push local 4
    or
    push constant 0
    eq
    not
    if-goto Main_1
    push local 9
    push local 4
    add
    push local 5
    push constant 0
    call FreeNode.new 3
    pop local 6
    push local 5
    push local 6
    call FreeNode.setPrev 2
    pop temp 0
    push local 6
    pop local 5
    push local 4
    push constant 1
    sub
    pop local 4
    goto Main_0
label Main_1
    push constant 0
    pop local 7
    push constant 16384
    pop local 9
    push constant 24575
    pop local 10
    push constant 130
    pop local 11
    push constant 132
    pop local 12
    push constant 131
    pop local 13
    push constant 133
    pop local 14
    push constant 1
    pop local 15
    push constant 1
    neg
    pop local 16
    push constant 512
    pop local 18
    push constant 512
    neg
    pop local 17
    push constant 1
    neg
    pop local 23
    push local 9
    push constant 0
    push constant 0
    call SnakeNode.new 3
    pop local 19
    push local 9
    push constant 1
    add
    push local 19
    push constant 0
    call SnakeNode.new 3
    pop local 20
    push local 19
    push local 20
    call SnakeNode.setPrev 2
    pop temp 0
    call Utils.initGameField 0
    pop temp 0
label Main_2
    push local 7
    push local 12
    eq
    not
    not
    if-goto Main_3
    call Keyboard.keyPressed 0
    pop local 7
    push constant 100
    call Sys.wait 1
    pop temp 0
    goto Main_2
label Main_3
    push constant 1
    pop local 8
    call Utils.startGame 0
    pop temp 0
    push local 20
    call SnakeNode.getLocation 1
    call Utils.drawBlack 1
    pop temp 0
    push local 19
    call SnakeNode.getLocation 1
    call Utils.drawBlack 1
    pop temp 0
    push local 9
    push constant 32
    push constant 16
    call Math.multiply 2
    push constant 15
    call Math.multiply 2
    add
    push constant 31
    add
    pop local 2
    push local 2
    call Utils.drawBlack 1
    pop temp 0
label Main_4
    push local 23
    not
    if-goto Main_5
    call Keyboard.keyPressed 0
    pop local 7
    push local 7
    push local 11
    eq
    push local 8
    push local 15
    eq
    not
    and
    not
    if-goto Main_7
    push constant 1
    neg
    pop local 8
    goto Main_6
label Main_7
label Main_6
    push local 7
    push local 12
    eq
    push local 8
    push local 16
    eq
    not
    and
    not
    if-goto Main_9
    push constant 1
    pop local 8
    goto Main_8
label Main_9
label Main_8
    push local 7
    push local 13
    eq
    push local 8
    push local 18
    eq
    not
    and
    not
    if-goto Main_11
    push constant 512
    neg
    pop local 8
    goto Main_10
label Main_11
label Main_10
    push local 7
    push local 14
    eq
    push local 8
    push local 17
    eq
    not
    and
    not
    if-goto Main_13
    push constant 512
    pop local 8
    goto Main_12
label Main_13
label Main_12
    push local 20
    call SnakeNode.getLocation 1
    push local 8
    add
    pop local 1
    push local 1
    push local 10
    gt
    push local 1
    or
    push local 9
    lt
    push local 1
    call Main.isVertOutOfRange 1
    or
    push local 1
    push local 2
    call Main.isSnakeNode 2
    or
    not
    if-goto Main_15
    push constant 0
    pop local 23
    goto Main_14
label Main_15
    push local 1
    push local 2
    eq
    not
    not
    if-goto Main_17
    push local 19
    call SnakeNode.getLocation 1
    push local 5
    push constant 0
    call FreeNode.new 3
    pop local 6
    push local 5
    push local 6
    call FreeNode.setPrev 2
    pop temp 0
    push local 6
    pop local 5
    push local 19
    call SnakeNode.erase 1
    pop local 19
    goto Main_16
label Main_17
    push local 5
    push local 0
    call FreeNode.getFoodLocation 2
    pop local 2
    push local 2
    call Utils.drawBlack 1
    pop temp 0
label Main_16
    push local 20
    call SnakeNode.getLocation 1
    push local 8
    add
    push local 20
    push constant 0
    call SnakeNode.new 3
    pop local 22
    push local 20
    push local 22
    call SnakeNode.setPrev 2
    pop temp 0
    push local 22
    pop local 20
    push local 20
    call SnakeNode.getLocation 1
    call Utils.drawBlack 1
    pop temp 0
    push local 5
    push local 20
    call SnakeNode.getLocation 1
    call FreeNode.erase 2
    pop temp 0
label Main_14
    push constant 100
    call Sys.wait 1
    pop temp 0
    goto Main_4
label Main_5
    call Utils.gameOver 0
    pop temp 0
    push constant 0
    return
function Main.isVertOutOfRange 3
    push argument 0
    push constant 16384
    sub
    pop local 0
    push local 0
    push constant 0
    eq
    not
    if-goto Main_19
    push constant 0
    pop local 1
    goto Main_18
label Main_19
    push local 0
    push constant 32
    call Math.divide 2
    pop local 1
label Main_18
    push local 1
    push constant 0
    eq
    not
    if-goto Main_21
    push constant 0
    pop local 2
    goto Main_20
label Main_21
    push local 1
    push constant 16
    push local 1
    push constant 16
    call Math.divide 2
    call Math.multiply 2
    sub
    pop local 2
label Main_20
    push local 2
    push constant 0
    eq
    not
    if-goto Main_23
    push constant 0
    return
    goto Main_22
label Main_23
label Main_22
    push constant 1
    neg
    return
function Main.isSnakeNode 1
    push argument 0
    call Memory.peek 1
    pop local 0
    push argument 0
    push argument 1
    eq
    not
    push local 0
    push constant 0
    eq
    not
    and
    not
    if-goto Main_25
    push constant 1
    neg
    return
    goto Main_24
label Main_25
label Main_24
    push constant 0
    return